<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <%= form_for @student do |f| %>
        <%= f.label 'student first_name' %>
        <%= f.text_field :first_name %>
        <%= f.label 'student last_name' %>
        <%= f.text_field :last_name %>
        <%= f.submit 'Update Student' %>
        <% end %>
    </div>
</body>
</html>